version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: epitome-kia-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: epitome_kia_local
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d epitome_kia_local" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
